*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

.home-title,
.watch-version {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-transform: uppercase;
    padding-top: 30px;
}

.title-img {
    height: 30px;
    position: relative;
    left: 10px;
}

span.watch-version {
    color: #c50a0a;
    padding: 0 0 0 15px;
    font-size: 12px;
    font-weight: 500;
}

.home-subtitle,
.watch-description,
.water-protect-title,
.characteristics-title {
    font-size: 37px;
    text-align: center;
    font-weight: 500;
}

.home-subtitle span,
.watch-description span {
    display: block;
    padding-top: 25px;
}

img.water-protect-photo {
    padding: 40px 0 50px 0;
    width: 100%;
    max-width: 700px;
    height: auto;
}

.home-img,
img.main-image,
img.benefits-photo,
img.watch-benefit,
img.complex-watch,
img.complex-strap,
img.complex-cable,
img.benefits-sos-photo {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.watch-description span {
    padding: 0;
}

img.main-image {
    max-width: 650px;
    padding-top: 70px;
}

.main-functions,
.water-protect,
.benefits {
  text-align: center;
}

.water-protect-title,
.characteristics-title {
    padding-top: 50px;
}

.characteristics-benefits {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 50px;
}

@media screen and (max-width: 992px) {
    .characteristics-benefits {
        grid-template-columns: 200px 200px;
    }
}

@media screen and (max-width: 576px) {
    .characteristics-benefits {
        grid-template-columns: 200px;
    }
}

.characteristics-title {
    font-size: 37px;
    padding-bottom: 50px;
}

.watch-benefit p {
    font-size: 14px;
    text-align: left;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 300;
}

article.watch-benefit p::after {
    display: block;
    content: '';
    width: 80px;
    height: 1px;
    background: black;
    position: absolute;
    bottom: -30px;
    left: 0;
}

article.watch-benefit p {
    position: relative;
}

.watch-benefit span {
    display: block;
}

article.watch-benefit:nth-child(9) p::after,
article.watch-benefit:nth-child(10) p::after {
    display: none;
    width: 25px;
}

.benefits {
    display: flex;
    justify-content: center;
}

.benefits-items,
.complex-inner {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    height: 600px;
    width: 600px;
}

.benefit-sos-text {
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 2;
    line-height: 1;
}

img.benefits-sos-photo {
    width: 100px;
    margin-bottom: 25px;
}


img.benefits-sleep-photo {
    width: 100px;
    margin-bottom: 25px;
}

#benefit-sleep,
#benefit-sos,
#benefit-panel,
#benefit-productivity,
#complex-insight,
#complex-cable,
#complex-sports-strap {
    background-color: #f3f3f3;
    display: grid;
    place-content: center;
    font-weight: 500;
    font-size: 22px;
}
#benefit-sleep,#benefit-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#benefit-sleep {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    line-height: 1;
}

#benefit-sos {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 3;
    position: relative;
}

#benefit-panel {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 2;
    line-height: 1;
}

#benefit-productivity {
    grid-row-start: 4;
    grid-column-start: 2;
    grid-row-end: 5;
    grid-column-end: 3;
}

#benefit-panel p span,
#benefit-sos p span,
#benefit-productivity p span,
#benefit-sleep p span {
    display: block;
}

span.green-text {
    color: #05a805;
    font-size: 35px;
    font-weight: 500;
}

.watch-benefit p {
    font-weight: 400;
}

.complex {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

#complex-insight,
#complex-cable,
#complex-sports-strap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#complex-insight {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 2;
    font-size: 35px;
}

#complex-cable {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
}

#complex-sports-strap {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 5;
    grid-column-end: 3;
    text-align: center;
    line-height: 0.6;
}

img.watch-benefit {
    position: absolute;
    width: 187px;
    max-width: 400px;
    height: auto;
    right: -13px;
    top: -13px;
}

img.complex-watch {
    width: 200px;
    text-align: center;
}

img.complex-sports-strap {
    width: 100px;
}

img.complex-cable {
    width: 130px;
}
